<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="//cdn.bootcss.com/jquery/1.12.4/jquery.js"></script>
</head>
<body>
	<h1><%= name %></h1>
	
	<script src="js/index.js"></script>
</body>
</html>